<!-- <section class="inner-page mainsection container">
  <div class="container">
    <h2>
      אזור הניהול
    </h2>

    באזור זה תוכלו לבצע פעולות שונות מהתפריט שמימין
  </div>
</section> -->

<!-- ======= Main Admin Section ======= -->
<section id="contact" class="contact section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>מחפשים את המטמון - אזור הניהול</h2>
    </div>

    
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="main" data-bs-toggle="tab" data-bs-target="#main-tabpanel" type="button" role="tab" aria-controls="main-tabpanel" aria-selected="true">המשחק</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="std" data-bs-toggle="tab" data-bs-target="#std-tabpanel" type="button" role="tab" aria-controls="std-tabpanel" aria-selected="false">אזור התלמידים</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tch" data-bs-toggle="tab" data-bs-target="#tch-tabpanel" type="button" role="tab" aria-controls="tch-tabpanel" aria-selected="false">אזור המורים</button>        
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="game" data-bs-toggle="tab" data-bs-target="#game-tabpanel" type="button" role="tab" aria-controls="game-tabpanel" aria-selected="false">ניהול משחקים</button>        
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="user" data-bs-toggle="tab" data-bs-target="#user-tabpanel" type="button" role="tab" aria-controls="user-tabpanel" aria-selected="false">ניהול משתמשים</button>        
      </li>
    </ul>
    <div class="tab-content" id="tab-content">
      <div class="tab-pane fade show active" id="main-tabpanel" role="tabpanel" aria-labelledby="main">
        <div class="row shadow p-3 ms-2 me-2 mb-2 bg-body rounded">  
          Tab 1 selected
        </div>
      </div>
      <div class="tab-pane fade" id="std-tabpanel" role="tabpanel" aria-labelledby="std">
        <div class="row shadow p-3 ms-2 me-2 mb-2 bg-body rounded">   
          Tab 2 selected
        </div>
      </div>
      <div class="tab-pane fade" id="tch-tabpanel" role="tabpanel" aria-labelledby="tch">
        <div class="row shadow p-3 ms-2 me-2 mb-2 bg-body rounded">   
          Tab 3 selected
        </div>
      </div>
      <div class="tab-pane fade" id="game-tabpanel" role="tabpanel" aria-labelledby="game">
        <div class="row shadow p-3 ms-2 me-2 mb-2 bg-body rounded">   
          Tab 4 selected
        </div>  
      </div>
      <div class="tab-pane fade" id="user-tabpanel" role="tabpanel" aria-labelledby="user">
        <div class="row shadow p-3 ms-2 me-2 mb-2 bg-body rounded">  
          Tab 5 selected
        </div>
      </div>
    </div>

  </div> <!-- CONTAINER -->
</section><!-- End Main Admin Section -->

