<!-- <section class="inner-page mainsection container">
  <div class="container">
    <h2>
      אזור הניהול
    </h2>

    באזור זה תוכלו לבצע פעולות שונות מהתפריט שמימין
  </div>
</section> -->

<!-- ======= Main Admin Section ======= -->
<section id="contact" class="contact section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>מחפשים את המטמון - אזור הניהול</h2>
    </div>

    <div class="row">

      <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-right">
      <img src="/img/thunt.jpg" />

    </div>
    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
      
    </div>

  </div>

</div>
</section><!-- End Main Admin Section -->

