<!-- <section class="inner-page mainsection container">
  <div class="container">
    <h2>
      אזור הניהול
    </h2>

    באזור זה תוכלו לבצע פעולות שונות מהתפריט שמימין
  </div>
</section> -->

<!-- ======= Main Admin Section ======= -->
<section id="contact" class="w-100 contact section-bg" >
  <div class="container">


    <section id="services" class="services section-bg">
      
      <div class="section-title" data-aos="fade-up">
        <h2><i class="fa fa-flask" aria-hidden="true"></i>
          אפליקציות מש"ר</h2>
      </div>
  
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
            <div class="icon-box icon-box-pink">
              <div class="icon"><img src="/img/th.png" /></div>
              <h4 class="title"><a href="/admin/th">מחפשים את המטמון</a></h4>
              <p class="description">משחק מחפשים את המטמון ללימוד וקטורים</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
            <div class="icon-box icon-box-pink">
              <div class="icon"><img src="/img/online.png" /></div>
              <h4 class="title"><a href="/admin/lsn">שיעורי תגבור</a></h4>
              <p class="description">ניהול רישום לשיעורי תגבור</p>
            </div>
          </div>

        </div>
      </div>

  </div> <!-- CONTAINER -->
</section><!-- End Main Admin Section -->

