<main id="main">

           <!-- ======= Breadcrumbs ======= -->
      <section id="contact" class="contact section-bg">
      <div class="container">
        <h2>עריכת משחק {{data.gameName}}</h2>

        {{#compare data.error '!==' ''}}
        <div class="errMsg">{{data.error}}</div>
        {{/compare}}
        
        <div class="">

          <!-- TAB DEFINITIONS -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="gen-tab" data-bs-toggle="tab" data-bs-target="#gen" type="button" role="tab" aria-controls="gen" aria-selected="true">כללי</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="red-tab" data-bs-toggle="tab" data-bs-target="#red" type="button" role="tab" aria-controls="red" aria-selected="false">קב' אדומה</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="blue-tab" data-bs-toggle="tab" data-bs-target="#blue" type="button" role="tab" aria-controls="blue" aria-selected="false">קב' כחולה</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="green-tab" data-bs-toggle="tab" data-bs-target="#green" type="button" role="tab" aria-controls="green" aria-selected="false">קב' ירוקה</button>
            </li>
          </ul>
          <form id="gameEditor">
            <!-- GENERAL TAB-->
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="gen" role="tabpanel" aria-labelledby="gen-tab">
                
                <div class="mb-3">
                  <div class="mb-3 w-50">
                    <label for="gameName" class="form-label">שם המשחק</label>
                    <input type="input" class="form-control input-sm" id="gameName" placeholder="" readonly>
                  </div>
                  <div class="mb-3 w-50">
                    <label for="branch" class="form-label">סניף</label>
                    <input type="input" class="form-control input-sm" id="branch" placeholder="" readonly>
                  </div>
                  <div class="mb-3 w-50 ">
                    <label for="version" class="form-label">גרסה</label>
                    <div class="d-flex">
                      <input type="input" class="form-control input-sm en" id="version" placeholder="" readonly>
                      <button type="button" class="btn btn-success text-nowrap">להעלות גרסה</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ***************** RED ***************** -->
              <div class="tab-pane fade show" id="red" role="tabpanel" aria-labelledby="red-tab">
                <div class="mb-3 row">
                  <div class="mb-3 w-50">
                    <label for="team-red" class="form-label">שם הקבוצה</label>
                    <input type="input" class="form-control input-sm" id="team-red" placeholder="" >
                  </div>
                  <div class="mb-3 w-50">
                    <label for="color-red" class="form-label">צבע הקבוצה</label>
                    <input type="input" class="form-control input-sm en" id="color-red" placeholder="#c0514d" style="background-color:#c0514d" readonly>
                  </div>
                  <div class="mb-3 w-50">
                    <label for="bgColor-red" class="form-label">צבע רקע</label>
                    <input type="input" class="form-control input-sm en" id="bgColor-red" placeholder="#ff8f9a" style="background-color:#ff8f9a" readonly>
                  </div>
                  <!-- R1 -->
                  <div class="mb-3 w-50 row">
                    <label for="riddle1-red" class="form-label fw-bold">חידה ראשונה</label>
                    <div class="d-flex">
                      <img src="/img/form/red1.png" style="width:55px; height:55px"/>
                      <textarea class="form-control" id="riddle1-red" rows="5"></textarea>
                    </div>
                    <div class="mb-3 w-100">
                      <div class="fw-bold">פתרון</div>
                      <div class="d-flex me-5">
                        <input type="number" class="form-control input-sm" id="gameName" placeholder="אורך הוקטור" > מטר
                        <input type="number" class="form-control input-sm" id="gameName" placeholder="כיוון הוקטור" > מעלות
                      </div>
                    </div>
                    <div class="mb-3 w-50 d-flex">
                      <label for="" class="form-label fw-bold">תמונה</label>
                      <a href="#" data-bs-toggle="modal" data-bs-target="#imgGalleryModal" data-orig-game="11">
                        <img src="/img/ops/clone.png" class="ops-icon" data-toggle="tooltip" data-placement="top" title="שכפול משחק"/>
                      </a>
                      <img src="" class="img-thumbnail" alt="" id="thumb-red" style="max-height:100px">
                    </div>
                    </div>
                    <hr class="hr" />
                  <!-- R2 -->
                  <div class="mb-3 w-50">
                    <label for="exampleFormControlTextarea1" class="form-label">חידה שנייה</label>
                    <div class="d-flex">
                      <img src="/img/form/red2.png" style="width:55px; height:55px"/>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </div>
                  <!-- R3 -->
                  <div class="mb-3 w-50">
                    <label for="exampleFormControlTextarea1" class="form-label">חידה שלישית</label>
                    <div class="d-flex">
                      <img src="/img/form/red3.png" style="width:55px; height:55px"/>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </div>
                  <!-- R4 -->
                  <div class="mb-3 w-50">
                    <label for="exampleFormControlTextarea1" class="form-label">חידה רביעית</label>
                    <div class="d-flex">
                      <img src="/img/form/red4.png" style="width:55px; height:55px"/>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </div>
                  <!-- R5 -->
                  <div class="mb-3 w-50">
                    <label for="exampleFormControlTextarea1" class="form-label">חידה חמישית</label>
                    <div class="d-flex">
                      <img src="/img/form/red5.png" style="width:55px; height:55px"/>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </div>
                </div>              
              </div>
              <!-- ***************** BLUE ***************** -->
              <div class="tab-pane fade" id="blue" role="tabpanel" aria-labelledby="blue-tab">

              </div>
              <!-- ***************** GREEN ***************** -->
              <div class="tab-pane fade" id="green" role="tabpanel" aria-labelledby="green-tab">

              </div>
            </div>
          </form>

        </div>
        
      </div>
    </section>


    <!-- Modal Image Gallery -->
    <div class="modal fade" id="imgGalleryModal" tabindex="-1" aria-labelledby="imgGalleryModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="imgGalleryModalLabel">בחירת תמונה</h5>              
          </div>
          <div class="modal-body modal-body-scrl">
            <form action="#" method="" role="form" class=""  id="cloneGameForm" > 
              
            <!-- Page Content -->
            <div class="container">


              <div class="row text-center text-lg-start">

                {{#each imgs as |img|}}
                <div class="col-lg-3 col-md-4 col-6">
                  <a href="#" class="d-block mb-4 h-100" onclick="markThumbnail(this); setMarkedThumbnail('thumb-red')">
                    <img class="img-fluid img-thumbnail" src="/img/rdl/{{img}}" alt="" style="border: 1px solid lightGray">
                  </a>
                </div>
                {{/each}}
                
              </div>

            </div>


          </div>
          <div id="modalErrRoleMsg" class="errMsg">&nbsp;</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">סגירה</button>
            <button type="submit" class="btn btn-primary">בחירה</button>
          </div>
        </form> 
      </div>
      </div>
    </div>

</main>