<main id="main">

        <!-- ======= Game List Section ======= -->
        <section id="contact" class="contact section-bg">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2>עריכת משחק</h2>
            </div>
    
            <div class="row">
    
content
    
            </div>
          </section><!-- End User List Section -->

      <!-- Modal Clone Game -->
      <div class="modal fade" id="cloneGameModal" tabindex="-1" aria-labelledby="cloneGameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cloneGameModalLabel">שינוי תפקיד</h5>              
            </div>
            <div class="modal-body">
              <form action="#" method="" role="form" class=""  id="cloneGameForm" > 
                <div class="row">
                  <label for="origName">שם המשחק המקורי</label>
                  <input name="origName" type="input" id="origName-role" class="form-control" placeholder="" class="en" value="" readonly/>
                </div>
                <div class="row">
                  <label for="newName">שם המשחק החדש</label>
                  <input name="newName" type="input" id="newName-role" class="form-control" placeholder="" class="en" value=""/>
                </div>
            </div>
            <div id="modalErrRoleMsg" class="errMsg">&nbsp;</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">סגירה</button>
              <button type="submit" class="btn btn-primary">שיכפול</button>
            </div>
          </form> 
        </div>
        </div>
      </div>

    </main><!-- End #main -->


<script>
  var exampleModal = document.getElementById('cloneGameModal')
  exampleModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var link = event.relatedTarget
    // Extract info from data-bs-* attributes
    var origGame = link.getAttribute('data-orig-game')
    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    var modalTitle = exampleModal.querySelector('.modal-title')
    var modalBodyInput = exampleModal.querySelectorAll('.modal-body input')
    var modalSelect = exampleModal.querySelector('.modal-body select')
    
    //querySelector('.modal-body input')
    //modalTitle.textContent = 'New message to ' + recipient
    modalBodyInput[0].value = origGame // username
  })  
</script>