<main id="main">

        <!-- ======= Game List Section ======= -->
        <section id="contact" class="contact section-bg">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2><i class="fa fa-compass" aria-hidden="true"></i> טפסי הרשמה לתגבור</h2>
            </div>
            
            <div class="row my-3 mx-1">

              <div class="col-2 mx-3 mt-4 list-group">
                <a href="#" class="action list-group list-group-item active text-center" data-bs-toggle="modal" data-bs-target="#newGameModal">
                <span>יצירת טופס תגבור חדש</span></a>
              </div>
              <div class="col-lg mx-1 mt-4">
                <span class="tip nowrap"><i class="fa fa-info-circle" aria-hidden="true"></i> שימו לב שלא ניתן למחוק טופס פעיל</span>
              </div>
              <div class="my-3">
                <div class="errMsg" id="errMsg"></div>
              </div>
            </div>

            <div class="row">
    
              <div class="col-lg-2 d-flex align-items-stretch" data-aos="fade-right">
              <img src="/img/compass.png" />
    
            </div>
            <div class="col-lg-10 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
              
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">פעולות</th>
                  <th scope="col">שם הטופס</th>
                  <th scope="col">קבוצה</th>
                  <th scope="col">סניף</th>
                  <th scope="col">פעיל</th>
                  <th scope="col">תאריך עדכון</th>
                </tr>
                </thead>
                <tbody>
                {{#each data as |form|}}
                <tr>
                  <td >                       
                    <img src="/img/ops/edit.png" class="ops-icon" onclick="editeForm('{{form.uid}}')" data-toggle="tooltip" data-placement="top" title="עריכת טופס"/>
                    {{#compare ../jwtUser.role '!==' 'TEACHER'}} 
                      {{#compare form.active '!==' true}}
                        <img src="/img/ops/del-d.png" class="ops-icon" data-toggle="tooltip" data-placement="top" title="אי אפשר למחוק טופס פעיל  "/>
                      {{else}}
                        <img src="/img/ops/del.png" class="ops-icon" onclick="deleteForm('{{form.uid}}')" data-toggle="tooltip" data-placement="top" title="מחיקת טופס"/>
                      {{/compare}}
                    {{/compare}}
                    
                    <br/><br/>
                    {{#compare form.active '===' true}}                    
                    <a href="/admin/lsn/qr/{{form.uid}}" target="game">
                      <img src="/img/ops/qr.png" class="ops-icon" data-toggle="tooltip" data-placement="top" title="לינקים לטופס"/>
                     </a>                 
                    {{/compare}} <!-- Form Active -->
                  </td>
                  <td >{{form.name}}</td>
                  <td >{{form.groupName}}</td>
                  <td >{{form.branch}}</td>
                  <td >
                    {{#compare form.active '===' true}}
                    <i class="fa fa-play" aria-hidden="true" style="color:green"></i> כן
                    {{else}}
                    <i class="fa fa-stop" aria-hidden="true"></i> לא
                    {{/compare}}
                    </td>
                  <td >{{form.date}}</td>
                </tr>
                {{/each}}
                </tbody>
              </table>
            </div>
            
                  
          <!--  -->
          </div>
        </div>
      </section><!-- End User List Section -->      
      
    </main><!-- End #main -->

