<main id="main">

  <section id="portfolio" class="portfolio">
    <div class="container">

      
      
      <div class="row">

        <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-right">
        
          <div class="section-title" data-aos="fade-up">
            <h2>גלריית תמונות לחידות</h2>
            <p>אלו תמונות שאותן ניתן לשלב בחידות</p>
            <p>הזהרו מלמחוק תמונות שיתכן נמצאות בשימוש באחד המשחקים</p>
            <div id="msg" class="errMsg mt-4">
              {{#compare jwtUser.role '===' 'SUPER-ADMIN'}}
              <form id="galChangeBranch">
                <h5>שינוי סניף</h5><select id="newBranchCode" onchange="changeBranchGal('{{../root}}',this)">
                  {{#each branches as |brch| }}
                  <option value="{{@key}}" {{#compare @key '===' ../branchCode}} selected {{/compare}}>{{brch.name}}</option>
                  {{/each}}
                </select>
              </form>
              {{/compare}}
            </div>
          </div>
        </div>  

        <div class="col-lg-4 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
          <div id="drop-area">
            <form class="galleryForm" id="galleryForm">
              <p>בחרו תמונות או גררו אותן על האזור הזה</p>
              <input type="file" id="fileElem" multiple accept="image/png" onchange="handleFiles(this.files)">
              <label class="btn btn-secondary" for="fileElem">בחרו תמונות</label>
              <input type="hidden" id="branchCode" value="{{branchCode}}"/>
            </form>
            
            <div id="gallery"></div>            
            <div class="row">
              <div class="col">
                <button class="btn btn-primary" onclick="uploadAllFiles('{{branchCode}}')">העלאת התמונות לענן</button>
                
              </div>
              <!-- <div class="col">
                <progress id="progress-bar" max=100 value=0></progress>
              </div> -->
            </div>
            
          </div>          
        </div>

      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        {{#each imgs as |img|}}
        <div class="col-md-4 col-6 portfolio-item filter-app align-content-center" style="border: 1px solid lightGray; width:202px; height:202px">
          <div class="portfolio-wrap">
            <img src="/img/rdl/{{../branchCode}}/{{img}}" class="img-fluid" alt="" style="max-height:180px" id="{{img}}">
          </div>
          {{#compare img '!==' 'empty.png'}}
          <div >            
            <button type="button" class="btn-close" aria-label="Close" style="position:absolute;top:0px;right:0px" 
            {{#compare ../jwtUser.role '===' 'SUPER-ADMIN'}}
            onclick="deleteGalImg('{{img}}','{{../branchCode}}')"
            {{/compare}}
            ></button>            
          </div>
          {{/compare}}
        </div>     
        {{/each}}

      </div>

    </div>
  </section><!-- End Portfolio Section -->

</main><!-- End #main -->
