<main id="main">

        <!-- ======= User List Section ======= -->
        <section id="contact" class="contact section-bg">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2>רשימת משחקים</h2>
            </div>
    
            <div class="row">
    
              <div class="col-lg-2 d-flex align-items-stretch" data-aos="fade-right">
              <img src="/img/compass.png" />
    
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
              
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">פעולות</th>
                  <th scope="col">שם המשחק</th>
                  <th scope="col">סניף</th>
                  <th scope="col">פעיל</th>
                  <th scope="col">גרסה</th>
                  <th scope="col">תאריך עדכון</th>
                </tr>
                </thead>
                <tbody>
                {{#each data as |game|}}
                <tr>
                  <td ></td>
                  <td >{{game.gameName}}</td>
                  <td >{{game.branch}}</td>
                  <td >{{game.active}}</td>
                  <td >{{game.version}}</td>
                  <td >{{game.date}}</td>                  
                </tr>
                {{/each}}
                </tbody>
              </table>
            </div>
            <div class="my-3">
              <div class="errMsg" id="errMsg"></div>
            </div>
          </div>
    
        </div>
      </section><!-- End User List Section -->

      <!-- CHANGE PASSWORD MODAL -->

      <!-- Modal Change Pass -->
      <div class="modal fade" id="changePassModal" tabindex="-1" aria-labelledby="changePassModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="changePassModalLabel">שינוי סיסמה</h5>              
            </div>
            <div class="modal-body">
              <form action="#" method="post" role="form" class=""  id="cngPass" > 
                <div class="row">
                  <label for="username">שם משתמש (אימייל)</label>
                  <input name="username" type="input" id="username" class="form-control username" placeholder="אימייל" class="en" value="" readonly/>
                </div>
                <div class="row">
                  <label for="password">סיסמה</label>
                  <input name="password" type="password" id="password" class="form-control" placeholder="סיסמה" class="en" value ="" required/>
                </div>
            </div>
            <div id="modalErrMsg" class="errMsg">&nbsp;</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">סגירה</button>
              <button type="submit" class="btn btn-primary">שמירה</button>
            </div>
          </form> 
        </div>
        </div>
      </div>

      <!-- Modal Change Role -->
      <div class="modal fade" id="changeRoleModal" tabindex="-1" aria-labelledby="changeRoleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="changeRoleModalLabel">שינוי תפקיד</h5>              
            </div>
            <div class="modal-body">
              <form action="#" method="post" role="form" class=""  id="cngRole" > 
                <div class="row">
                  <label for="username">שם משתמש (אימייל)</label>
                  <input name="username" type="input" id="username-role" class="form-control username" placeholder="אימייל" class="en" value="" readonly/>
                </div>
                <div class="row">
                  <label for="role">תפקיד</label>
                  <select id="role" class="form-control">
                    <option value="TEACHER">מורה</option>
                    <option value="ADMIN">מנהל משחקים</option>
                    {{#compare ../jwtUser.role '===' 'SUPER-ADMIN'}} 
                    <option value="SUPER-ADMIN">אדמין</option>
                    {{/compare}}
                  </select>
                </div>
            </div>
            <div id="modalErrRoleMsg" class="errMsg">&nbsp;</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">סגירה</button>
              <button type="submit" class="btn btn-primary">שמירה</button>
            </div>
          </form> 
        </div>
        </div>
      </div>

    </main><!-- End #main -->


<script>
  var exampleModal = document.getElementById('changePassModal')
  exampleModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var link = event.relatedTarget
    // Extract info from data-bs-* attributes
    var user_id = link.getAttribute('data-user-id')
    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    var modalTitle = exampleModal.querySelector('.modal-title')
    var modalBodyInput = exampleModal.querySelectorAll('.modal-body input')
    //querySelector('.modal-body input')
    //modalTitle.textContent = 'New message to ' + recipient
    modalBodyInput[0].value = user_id // username
    modalBodyInput[1].value = "" // password
  })  
  var exampleModal = document.getElementById('changeRoleModal')
  exampleModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var link = event.relatedTarget
    // Extract info from data-bs-* attributes
    var user_id = link.getAttribute('data-user-id')
    var user_role = link.getAttribute('data-role')
    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    var modalTitle = exampleModal.querySelector('.modal-title')
    var modalBodyInput = exampleModal.querySelectorAll('.modal-body input')
    var modalSelect = exampleModal.querySelector('.modal-body select')
    
    //querySelector('.modal-body input')
    //modalTitle.textContent = 'New message to ' + recipient
    modalBodyInput[0].value = user_id // username
    modalSelect.value = user_role
  })  
</script>