<main id="main">

        <!-- ======= Game List Section ======= -->
        <section id="contact" class="contact section-bg">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2>רשימת משחקים</h2>
            </div>
            
            <div class="row my-3 mx-1">
              <div class="col-2 mx-1 mt-4">
              </div>

              <div class="col-2 mx-3 mt-4 list-group">
                {{#compare jwtUser.role '===' 'TEACHER'}}
                {{else}}
                  <a href="/admin/newGame" 
                    class="action list-group list-group-item active"
                  ><span>יצירת משחק חדש</span></a>
                {{/compare}}
              </div>
            </div>
            
            <div class="row">
    
              <div class="col-lg-2 d-flex align-items-stretch" data-aos="fade-right">
              <img src="/img/compass.png" />
    
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
              
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">פעולות</th>
                  <th scope="col">שם המשחק</th>
                  <th scope="col">סניף</th>
                  <th scope="col">פעיל</th>
                  <th scope="col">גרסה</th>
                  <th scope="col">תאריך עדכון</th>
                </tr>
                </thead>
                <tbody>
                {{#each data as |game|}}
                <tr>
                  <td >
                    {{#compare ../jwtUser.role '!==' 'TEACHER'}} 
                      <a href="#" data-bs-toggle="modal" data-bs-target="#cloneGameModal" data-orig-game="{{game.gameName}}">
                        <img src="/img/ops/clone.png" class="ops-icon" data-toggle="tooltip" data-placement="top" title="שכפול משחק"/>
                      </a>
                      <img src="/img/ops/edit.png" class="ops-icon" onclick="editeGame('{{game.gameName}}')" data-toggle="tooltip" data-placement="top" title="עריכת משחק"/>
                      <img src="/img/ops/del.png" class="ops-icon" onclick="deleteGame('{{game.gameName}}')" data-toggle="tooltip" data-placement="top" title="מחיקת משחק"/>
                    {{/compare}}
                  </td>
                  <td >{{game.gameName}}</td>
                  <td >{{game.branch}}</td>
                  <td >{{game.active}}</td>
                  <td >{{game.version}}</td>
                  <td >{{game.date}}</td>                  
                </tr>
                {{/each}}
                </tbody>
              </table>
            </div>
            <div class="my-3">
              <div class="errMsg" id="errMsg"></div>
            </div>
          </div>
    
        </div>
      </section><!-- End User List Section -->

      <!-- Modal Clone Game -->
      <div class="modal fade" id="cloneGameModal" tabindex="-1" aria-labelledby="cloneGameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cloneGameModalLabel">שינוי תפקיד</h5>              
            </div>
            <div class="modal-body">
              <form action="#" method="" role="form" class=""  id="cloneGameForm" > 
                <div class="row">
                  <label for="origName">שם המשחק המקורי</label>
                  <input name="origName" type="input" id="origName-role" class="form-control" placeholder="" class="en" value="" readonly/>
                </div>
                <div class="row">
                  <label for="newName">שם המשחק החדש</label>
                  <input name="newName" type="input" id="newName-role" class="form-control" placeholder="" class="en" value=""/>
                </div>
            </div>
            <div id="modalErrRoleMsg" class="errMsg">&nbsp;</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">סגירה</button>
              <button type="submit" class="btn btn-primary">שיכפול</button>
            </div>
          </form> 
        </div>
        </div>
      </div>

    </main><!-- End #main -->


<script>
  var exampleModal = document.getElementById('cloneGameModal')
  exampleModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var link = event.relatedTarget
    // Extract info from data-bs-* attributes
    var origGame = link.getAttribute('data-orig-game')
    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    var modalTitle = exampleModal.querySelector('.modal-title')
    var modalBodyInput = exampleModal.querySelectorAll('.modal-body input')
    var modalSelect = exampleModal.querySelector('.modal-body select')
    
    //querySelector('.modal-body input')
    //modalTitle.textContent = 'New message to ' + recipient
    modalBodyInput[0].value = origGame // username
  })  
</script>