<main id="main">

        <!-- ======= Game List Section ======= -->
        <section id="contact" class="contact section-bg">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2>רשימת משחקים</h2>
            </div>
            
            <div class="row my-3 mx-1">
              <div class="col-2 mx-1 mt-4">
              </div>

              <div class="col-2 mx-3 mt-4 list-group">
                {{#compare jwtUser.role '!==' 'TEACHER'}}
                  <a href="#" class="action list-group list-group-item active text-center" data-bs-toggle="modal" data-bs-target="#newGameModal">
                  <span>יצירת משחק חדש</span></a>
                {{/compare}}
              </div>
            </div>

            <div class="row">
    
              <div class="col-lg-2 d-flex align-items-stretch" data-aos="fade-right">
              <img src="/img/compass.png" />
    
            </div>
            <div class="col-lg-10 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
              
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">פעולות</th>
                  <th scope="col">שם המשחק</th>
                  <th scope="col">קוד המשחק</th>
                  <th scope="col">סניף</th>
                  <th scope="col">פעיל</th>
                  <th scope="col">גרסה</th>
                  <th scope="col">תאריך עדכון</th>
                  <th scope="col">UID</th>
                </tr>
                </thead>
                <tbody>
                {{#each data as |game|}}
                <tr>
                  <td >
                    {{#compare ../jwtUser.role '!==' 'TEACHER'}} 
                      <a href="#" data-bs-toggle="modal" data-bs-target="#cloneGameModal" data-orig-game="{{game.uid}}">
                        <img src="/img/ops/clone.png" class="ops-icon" data-toggle="tooltip" data-placement="top" title="שכפול משחק"/>
                      </a>
                    {{else}}
                      <img src="/img/ops/clone-d.png" class="ops-icon" data-toggle="tooltip" data-placement="top" title="שכפול משחק"/>
                    {{/compare}}
                    
                    <img src="/img/ops/edit.png" class="ops-icon" onclick="editeGame('{{game.gameName}}')" data-toggle="tooltip" data-placement="top" title="עריכת משחק"/>
                    {{#compare ../jwtUser.role '!==' 'TEACHER'}} 
                      {{#compare game.active '===' 'כן'}}
                        <img src="/img/ops/del-d.png" class="ops-icon" data-toggle="tooltip" data-placement="top" title="אי אפשר למחוק משחק פעיל  "/>
                      {{else}}
                        <img src="/img/ops/del.png" class="ops-icon" onclick="deleteGame('{{game.gameName}}','{{game.uid}}','{{game.branch}}')" data-toggle="tooltip" data-placement="top" title="מחיקת משחק"/>
                      {{/compare}}
                    {{/compare}}
                    
                    <br/><br/>
                    {{#compare game.active '===' 'כן'}}
                    <!--
                    <img src="/img/ops/start.png" class="ops-icon" onclick="startGame('{{game.gameName}}')" data-toggle="tooltip" data-placement="top" title="התחלת משחק"/>
                    <img src="/img/ops/end.png" class="ops-icon" onclick="stoptGame('{{game.gameName}}')" data-toggle="tooltip" data-placement="top" title="סיום משחק"/>                    
                    -->
                    <a href="/admin/qr/{{game.branchCode}}/{{game.gameName}}" target="game">
                      <img src="/img/ops/qr.png" class="ops-icon" data-toggle="tooltip" data-placement="top" title="לינקים למשחק"/>
                     </a>                 
                    {{/compare}}
                  </td>
                  <td >{{game.readableName}}</td>
                  <td >{{game.gameName}}</td>
                  <td >{{game.branch}}</td>
                  <td >{{game.active}}</td>
                  <td >{{game.version}}</td>
                  <td >{{game.date}}</td>
                  <td >{{game.uid}}</td>                  
                </tr>
                {{/each}}
                </tbody>
              </table>
            </div>
            <div class="my-3">
              <div class="errMsg" id="errMsg"></div>
            </div>
          </div>
    
        </div>
      </section><!-- End User List Section -->

      <!-- Modal Clone Game -->
      <div class="modal fade" id="cloneGameModal" tabindex="-1" aria-labelledby="cloneGameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cloneGameModalLabel">שיכפול משחק</h5>              
            </div>
            <div class="modal-body">
              <form action="#" method="" role="form" class=""  id="cloneGameForm" > 
                <div class="row">
                  <label for="origName">קוד המשחק המקורי</label>
                  <input name="origName" type="input" id="origName-role" class="form-control" placeholder="" class="en" value="" readonly/>
                </div>
                <div class="row">
                  <label for="newName">שם המשחק החדש</label>
                  <input name="newName" type="input" id="newName-role" class="form-control" placeholder="" value=""/>
                  <label class="comment">שם בעברית או אנגלית בשפה חופשית</label>
                </div>
            </div>
            <div id="modalErrRoleMsg" class="errMsg">&nbsp;</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">סגירה</button>
              <button type="submit" class="btn btn-primary">שיכפול</button>
            </div>
          </form> 
        </div>
        </div>
      </div>

      <!-- Modal New Game -->
      <div class="modal fade" id="newGameModal" tabindex="-1" aria-labelledby="newGameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="newGameModalLabel">יצירת משחק חדש</h5>              
            </div>
            <div class="modal-body">
                <div class="row">
                  <label for="newName">שם המשחק</label>
                  <input name="newName" type="input" id="newName" class="form-control" placeholder="" class="" value="" />
                  <label class="comment">שם בעברית או אנגלית בשפה חופשית</label>
                </div>                
                {{#compare jwtUser.role '===' 'SUPER-ADMIN'}}
                <div class="row" style="display:{{#compare jwtUser.role '===' 'SUPER-ADMIN'}}block{{else}}none{{/compare}}">
                  <label for="origName">שם הסניף</label>
                  <select name="newBranch" id="newBranch" class="form-control">
                    {{#each branches as |brch|}}
                    <option value="{{@key}}">{{brch.name}}</option>
                    {{/each}}                    
                  </select>
                  <label class="comment">בחרו מתרשימת הסניפים</label>
                </div>                
                {{/compare}}
            </div>
            <div id="newGameMsg" class="errMsg">&nbsp;</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">סגירה</button>
              <button type="submit" class="btn btn-primary" onclick="createNewGame('newName','newBranch','newGameMsg')">יצירת משחק חדש</button>
            </div>
        </div>
        </div>
      </div>

    </main><!-- End #main -->


<script>
  /**
  * CLONE MODAL
  */
  var cloneModal = document.getElementById('cloneGameModal')
  cloneModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var link = event.relatedTarget
    // Extract info from data-bs-* attributes
    var origGame = link.getAttribute('data-orig-game')
    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    var modalTitle = cloneModal.querySelector('.modal-title')
    var modalBodyInput = cloneModal.querySelectorAll('.modal-body input')
    var modalSelect = cloneModal.querySelector('.modal-body select')   
    modalBodyInput[0].value = origGame // username
  })  

</script>