<main id="main">
  <form id="lsnGroups">
  <!-- ======= User List Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container">

      <h2><i class="fa fa-users" aria-hidden="true"></i> הגדרת קבוצות תגבור</h2>
      <h3>סניף {{branchName}}</h3>
      
      <div>
        <p>רשמו את קבוצות התגבור של הסניף, אחת בכל שורה</p>
        <p><i class="fa fa-info-circle" aria-hidden="true"></i> שימו לב - מחיקת קבוצה שנעשה בה שימוש עלולה להוביל לטעות ברישום לשיעורים</p>
        <div id="msg" class="errMsg mt-4">
          {{#compare jwtUser.role '===' 'SUPER-ADMIN'}}
          <form id="lsnChangeBranch">
            <h5 class="mprimary">שינוי סניף</h5><select id="newBranchCode" onchange="changeBranchReload('{{../root}}',this,'/admin/lsn/grplist/')">
              {{#each branches as |brch| }}
              <option value="{{@key}}" {{#compare @key '===' ../branch}} selected {{/compare}}>{{brch.name}}</option>
              {{/each}}
            </select>
          </form>
          {{/compare}}
        </div>
      </div>

      <div class="errMsg" id="errMsg"></div>
      
      <div class="modal-footer" style="width:80%; padding-bottom:20px">
        <button type="button" class="btn btn-secondary ms-3" onclick="cancelChanges('/admin/lsn/grplist/{{branch}}')">ביטול</button>
        <button type="submit" class="btn btn-primary">שמירה</button>
      </div>
            
      
      <div class="col-lg-10 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">

        <div class="container">
          <div class="form-floating">            
            <select class="form-select form-select-lg mb-3 Disabled multiple" multiple aria-label=".form-select-lg example" id="groups" style="height:350px">              
              {{#each groups as |grp|}}
              <option value="{{grp}}">&diams; {{grp}}</option>
              {{/each}}
            </select>            
          </div>
          <div class="row">
             <div class="col">
                <div class="input-group">
                  <span class="input-group-text" >קבוצה חדשה:</span>
                  <input type="text" id="newGroup" class="form-control" placeholder="שם הקבוצה" aria-label="שם הקבוצה" aria-describedby="newGroup"
                    onchange="validate(this.value,'newGroup',['required','string','minLength:3','validchars'])">
                  <button type="button" class="me-3 btn btn-outline-secondary" onclick="addOptionToSelect('groups','newGroup')">הוספה</button>
                </div>
                <div class="input-group mb-3">
                  <small id="newGroupError" class="form-text text-muted errMsg">&nbsp;</small>
                </div>
              </div>              
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <span class="input-group-text">מחיקת קבוצה מסומנת:</span>
                <button type="button" class="me-3 btn btn-outline-secondary" onclick="delOptionFromSelect('groups')">מחיקה</button>
              </div>
            </div>
          </div>
        </div>
        {{log data}}
        <input type="hidden" value="{{branch}}" id="branch" name="branch" />
      </div>
      
    </div>

  </div>
  </form>
</section><!-- End User List Section -->

<script>
  function addOptionToSelect(selectId, inputId) {
    var select = document.getElementById(selectId);
    var inp = document.getElementById(inputId)
    var value = inp.value.trim()
    if (value == "")
      return

      /* validate */
    if (!validate(value,'newGroup',['required','string','minLength:3','validchars'])) {      
      return
    }

    var opt = document.createElement('option')
    opt.value = value
    opt.innerHTML = `&diams; ${value}`
    opt.style='color:green'
    inp.value = ""
    select.appendChild(opt);
  }

  function delOptionFromSelect(selectId) {
    var select = document.getElementById(selectId);
    if (select.selectedIndex == -1)
      return
    select.remove(select.selectedIndex)
  }
</script>