<main id="main">

    
    <!-- ======= Registration Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>רישום משתמש חדש</h2>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-right">
          <img src="/img/teacher.jpg" />

        </div>
        <!-- FORM -->
        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
          <form action="#" method="post" role="form" class="php-email-form"  id="register" > 
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">שם פרטי ומשפחה</label>
                <input name="name" type="input" id="name" class="form-control" placeholder="שם פרטי ומשפחה" value=""/>
                <small id="nameError" class="form-text text-muted errMsg">&nbsp;</small>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <label for="branch">סניף</label>
                  <select name="branch" id="branch" class="form-control">
                    {{#each branches as |brch|}}
                    <option value="{{brch.name}}">{{brch.name}}</option>
                    {{/each}}
                    
                  </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="username">שם משתמש (אימייל)</label>
                <input name="username" type="input" id="username" class="form-control" placeholder="אימייל" class="en" value=""/>
                <small id="usernameError" class="form-text text-muted errMsg">&nbsp;</small>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <label for="password">סיסמה</label>
                <input name="password" type="password" id="password" class="form-control" placeholder="סיסמה" class="en" value =""/>
                <small id="passwordError" class="form-text text-muted errMsg">&nbsp;</small>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="role">תפקיד והרשאות</label>
                    <select name="role" id="role" class="form-control">
                      <option value="TEACHER">מורה</option>
                      <option value="ADMIN">מנהל משחקים</option>
                    </select>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
               
              </div>
            </div>
            
            <div class="my-3">
              <div class="errMsg" id="errMsg"></div>
            </div>
            <div class="text-center"><button type="submit">רישום משתמש</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Registration Section -->
</main><!-- End #main -->
