<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <h2>רישום משתמשים</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <p>
            <form id="register" action="#" method="POST">
                <ul class="wrapper">
                  <li class="form-row">
                    <label for="name">שם פרטי ומשפחה</label>
                    <input name="name" type="input" id="name" placeholder="שם פרטי ומשפחה" value="עודד כנען"/>
                  </li>
                  <li class="form-row">
                    <label for="branch">סניף</label>
                    <select name="branch" id="branch">
                      <option value="כפר סבא">כפר סבא</option>
                      <option value="רחובות">רחובות</option>
                      <option value="עכו">עכו</option>
                      <option value="נתיבות">נתיבות</option>
                      <option value="ירושלים">ירושלים</option>
                      <option value="ראשון לציון">ראשון לציון</option>
                    </select>
                  </li>
                  <li class="form-row">
                    <label for="username">שם משתמש (אימייל)</label>
                    <input name="username" type="input" id="username" placeholder="שם משתמש" class="en" value="oded.cnaan@wise.org.il"/>
                  </li>
                  <li class="form-row">
                    <label for="password">סיסמה</label>
                    <input name="password" type="password" id="password" placeholder="סיסמה" class="en" value ="something"/>
                  </li>
                  <li class="form-row">
                    <label for="role">סיסמה (לפחות 6 תווים)</label>
                    <select name="role" id=""role>
                      <option value="TEACHER">מורה</option>
                      <option value="ADMIN">מנהל משחקים</option>
                    </select>
                  </li>         
                  <li class="form-row">
                    <button type="submit">רישום</button>
                  </li>     
                  <li class="form-row">
                    <label id="errMsg" class="errMsg"></button>
                  </li> 
                </ul>
              </form> 
        </p>>
      </div>
    </section>

  </main><!-- End #main -->
