<main id="main">

        <!-- ======= User List Section ======= -->
        <section id="contact" class="contact section-bg">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2><i class="fa fa-user-circle" aria-hidden="true"></i> רשימת משתמשים רשומים</h2>
            </div>
    
            <div class="row my-3 mx-1">
              <div class="col-2 mx-1 mt-4">
              </div>

              <div class="col-2 mx-3 mt-4 list-group">
                {{#compare jwtUser.role '===' 'TEACHER'}}
                {{else}}
                  <a href="/admin/register" 
                    class="action list-group list-group-item active text-center"
                  ><span>רישום משתמש חדש</span></a>
                {{/compare}}
              </div>
            </div>
            <div class="row">
    
              <div class="col-lg-2 d-flex align-items-stretch" data-aos="fade-right">
              <img src="/img/gamer.png" />
    
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">פעולות</th>
                  <th scope="col">שם</th>
                  <th scope="col">שם משתמש</th>
                  <th scope="col">סניף</th>
                  <th scope="col">תפקיד</th>
                  <th scope="col">תאריך הרשמה</th>
                </tr>
                </thead>
                <tbody>
                {{#each data as |user|}}
                <tr>
                  <td >
                      {{#compare ../jwtUser.role '===' 'SUPER-ADMIN'}} 
                        {{#compare ../jwtUser.username '!==' user.username}} <!-- user cannot delete himself -->
                          <img src="/img/ops/del.png" class="ops-icon" onclick="delUser('{{user.username}}')" data-toggle="tooltip" data-placement="top" title="מחיקת משתמש"/>
                          <a href="#" data-bs-toggle="modal" data-bs-target="#editUserModal" data-user-id="{{user.username}}"  data-user-br="{{user.branchName}}"  data-user-name="{{user.name}}" data-user-email="{{user.email}}" data-role="{{user.role}}"><img src="/img/ops/edit.png" class="ops-icon" data-toggle="tooltip" data-placement="top" title="עריכה"/></a>
                        {{else}}
                          <img src="/img/ops/del-d.png" class="ops-icon" />
                          <img src="/img/ops/edit-d.png" class="ops-icon" />
                        {{/compare}}
                        <a href="#" data-bs-toggle="modal" data-bs-target="#changePassModal" data-user-id="{{user.username}}"><img src="/img/ops/pass.png" class="ops-icon" data-toggle="tooltip" data-placement="top" title="שינוי סיסמה"/></a>
                      {{else}} 
                        <!-- not super-admin -->
                        {{#compare ../jwtUser.username '!==' user.username}} <!-- user cannot delete himself -->
                            {{#compare user.role '!==' 'SUPER-ADMIN'}} <!-- admin cannot delete super-admin -->
                              <img src="/img/ops/del.png" class="ops-icon" onclick="delUser('{{user.username}}')" data-toggle="tooltip" data-placement="top" title="מחיקת משתמש"/>
                            {{else}}
                              <img src="/img/ops/del-d.png" class="ops-icon" />
                            {{/compare}}
                        {{else}}
                          <!-- himself -->
                          <img src="/img/ops/del-d.png" class="ops-icon" />
                        {{/compare}} <!-- not himself -->

                          {{#compare ../jwtUser.username '!==' user.username}} 
                            <a href="#" data-bs-toggle="modal" data-bs-target="#editUserModal" data-user-id="{{user.username}}" data-user-br="{{user.branchName}}"  data-user-email="{{user.email}}"  data-user-name="{{user.name}}" data-role="{{user.role}}"><img src="/img/ops/edit.png" class="ops-icon" data-toggle="tooltip" data-placement="top" title="עריכה"/></a>
                          {{else}}
                            <img src="/img/ops/edit-d.png" class="ops-icon" />
                          {{/compare}}
                          <a href="#" data-bs-toggle="modal" data-bs-target="#changePassModal" data-user-id="{{user.username}}"><img src="/img/ops/pass.png" class="ops-icon" data-toggle="tooltip" data-placement="top" title="שינוי סיסמה"/></a>
                      {{/compare}}
                  </td>
                  <td >{{user.name}}</td>
                  <td >{{user.username}}</td>
                  <td >{{user.branchName}}</td>
                  {{#compare user.role '===' 'ADMIN'}}
                    <td><i class="fa fa-user-circle" aria-hidden="true" style="color:rgb(26, 163, 187)"></i> אדמין סניף</td>
                  {{else}}
                    {{#compare user.role '===' 'SUPER-ADMIN'}}
                      <td><i class="fa fa-user-secret" aria-hidden="true" style="color:rgb(242, 169, 33)"></i> אדמין ראשי</td>
                    {{else}}
                      <td><i class="fa fa-user" aria-hidden="true"></i> מורה</td>
                    {{/compare}}
                  {{/compare}}
                  <td >{{user.created}}</td>
                  
                </tr>
                {{/each}}
                </tbody>
              </table>
            </div>
            <div class="my-3">
              <div class="errMsg" id="errMsg"></div>
            </div>
            <div class="h-100 d-flex align-items-center justify-content-center">
              {{#pagination numUsers numPerPage page '/admin/userlist'}}{{/pagination}}
            </div>    
          </div>
    
        </div>
      </section><!-- End User List Section -->

      <!-- CHANGE PASSWORD MODAL -->

      <!-- Modal Change Pass -->
      <div class="modal fade" id="changePassModal" tabindex="-1" aria-labelledby="changePassModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="changePassModalLabel">שינוי סיסמה</h5>              
            </div>
            <div class="modal-body">
              <form action="#" method="post" role="form" class=""  id="cngPass" > 
                <div class="form-group">
                  <label for="usernameChg">שם משתמש (אימייל)</label>
                  <div class="input-group mb-3 en">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon2" style="padding: .75rem .75rem;"><i class="fas fa-user"></i></span>
                    </div>
                    <input name="usernameChg" type="input" id="usernameChg" placeholder="אימייל" class="form-control en chpass readonly" aria-label="usernameChg" aria-describedby="basic-addon2" readonly/>
                  </div>
                  <small id="usernameChgError" class="form-text text-muted errMsg">&nbsp;</small>
                </div>
                <div class="form-group">
                  <label for="passwordChg">סיסמה</label>
                  <div class="input-group mb-3 en">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1" style="padding: .75rem .75rem;"><i class="fas fa-lock"></i></span>
                    </div>
                    <input name="passwordChg" type="password" id="passwordChg" placeholder="סיסמה" class="input form-control en chpass" aria-label="passwordChg" 
                      onchange="validate(this.value,'passwordChg',['required', 'minLength:6','someUppercase','specialChars'])"
                      aria-describedby="basic-addon1" />
                    <div class="input-group-append">
                      <span class="input-group-text" onclick="password_show_hide('passwordChg');" style="padding: .75rem .75rem;">
                        <i class="fas fa-eye" id="show_eye"></i>
                        <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                      </span>
                    </div>
                  </div>
                  <small id="passwordChgError" class="form-text text-muted errMsg">&nbsp;</small>
                </div>
            </div>
            <div id="modalErrMsg" class="errMsg">&nbsp;</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">סגירה</button>
              <button type="submit" class="btn btn-primary">שמירה</button>
            </div>
          </form> 
        </div>
        </div>
      </div>

      <!-- Modal Edit User -->
      <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editUserModalLabel">עריכת נתוני משתמש</h5>              
            </div>
            <div class="modal-body">
              <form action="#" method="post" role="form" class=""  id="editUser" > 
                <div class="form-group">
                  <label for="name">שם</label>
                  <input name="name" type="input" id="name-role" class="form-control readonly" placeholder="" class="" value="" readonly/>
                </div>
                <div class="form-group">
                  <label for="br">סניף</label>
                  <input name="br" type="input" id="br-role" class="form-control readonly" placeholder="" class="" value="" readonly/>
                </div>
                <div class="form-group">
                  <label for="username">שם משתמש</label>
                  <input name="username" type="input" id="username-role" class="form-control username readonly" placeholder="אימייל" class="en" value="" readonly/>
                  <small id="usernameError" class="form-text text-muted errMsg">&nbsp;</small>
                </div>
                <div class="form-group">
                  <label for="role">תפקיד</label>
                  <select id="role" class="form-control">
                    <option value="TEACHER">מורה</option>
                    <option value="ADMIN">אדמין סניף</option>
                    {{#compare ../jwtUser.role '===' 'SUPER-ADMIN'}} 
                    <option value="SUPER-ADMIN">אדמין ראשי</option>
                    {{/compare}}
                  </select>
                </div>
                <div class="form-group">
                  <label for="username">אימייל</label>
                  <input name="uemail" type="input" id="uemail-role" class="form-control" placeholder="אימייל" class="en" value=""/>
                  <small id="uemailError" class="form-text text-muted errMsg">&nbsp;</small>
                </div>
            </div>
            <div id="modalErrRoleMsg" class="errMsg">&nbsp;</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">סגירה</button>
              <button type="submit" class="btn btn-primary">שמירה</button>
            </div>
          </form> 
        </div>
        </div>
      </div>

    </main><!-- End #main -->


<script>
  var changePassModal = document.getElementById('changePassModal')
  changePassModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var link = event.relatedTarget
    // Extract info from data-bs-* attributes
    var user_id = link.getAttribute('data-user-id')
    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    var modalTitle = changePassModal.querySelector('.modal-title')
    var modalBodyInput = changePassModal.querySelectorAll('.modal-body input')
    //querySelector('.modal-body input')
    //modalTitle.textContent = 'New message to ' + recipient
    modalBodyInput[0].value = user_id // username
    modalBodyInput[1].value = "" // password
  })  
  var editUserModal = document.getElementById('editUserModal')
  editUserModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var link = event.relatedTarget
    // Extract info from data-bs-* attributes
    var user_id = link.getAttribute('data-user-id')
    var user_role = link.getAttribute('data-role')
    var user_email = link.getAttribute('data-user-email')
    var user_name = link.getAttribute('data-user-name')
    var user_br = link.getAttribute('data-user-br')
    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    var modalTitle = editUserModal.querySelector('.modal-title')
    var modalBodyInput = editUserModal.querySelectorAll('.modal-body input')
    var modalSelect = editUserModal.querySelector('.modal-body select')
    
    //querySelector('.modal-body input')
    //modalTitle.textContent = 'New message to ' + recipient
    modalBodyInput[0].value = user_name // name
    modalBodyInput[1].value = user_br // branch
    modalBodyInput[2].value = user_id // username
    modalBodyInput[3].value = user_email // email
    modalSelect.value = user_role
  })  
</script>