{{> admin_nav}}

<!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="d-flex justify-content-center" id="spinner" >
          <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="text-primary  me-3 mt-2">הדף בטעינה...</div>
        </div>
        <p>
          {{> (whichPartial) }}
        </p>
      </div>
  </div> <!-- /#page-content-wrapper -->
</div> <!-- /#wrapper -->
{{> footer}}

