{{> navigation}}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <h2>שגיאה</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <p>
          הכתובת לא חוקית.
        </p>
        <P>
          יש לסרוק את קוד ה QR של החידה כדי להשתמש באתר.
        </P>
        <div class="img-center">
          <img src="./img/th/qr.png" style="max-width:30%" />
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  {{> footer}}