{{> navigation}}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <h2>ברוכים הבאים למשחק מחפשים את המטמון</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="hero">

      <div class="container">
        <div class="row">
          <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
            <div>
              <h1>מרכז שוורץ/רייסמן לחינוך מדעי</h1>
              <h2>מרכז אפליקציות</h2>

              <a href="/login" class="btn-get-started scrollto btn-primary">כניסת מורים</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
            <img src="/img/3d.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
  
    </section><!-- End Hero -->

  </main><!-- End #main -->

  {{> footer}}