{{> navigation}}

  <main id="main">

    <section id="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
            <div>
              <h1>מחפשים את המטמון</h1>
              <h2>מרכז שוורץ/רייסמן לחינוך מדעי</h2>

            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
            <img src="/img/th/treasurehunt.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>
    
    <section class="inner-page">
      <div class="container shadow p-3" style="max-width: 600px">
        <h2>כניסת מורים ומנהלי מערכת</h2>
        <p>
          <form id="login" action="#" method="POST">
              <div class="form-group">
                <label for="username">שם משתמש (אימייל)</label> 
                <div class="input-group mb-3 en">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2" style="padding: .75rem .75rem;"><i class="fas fa-user"></i></span>
                  </div>
                  <input name="username" type="input" id="username" placeholder="אימייל" class="form-control en" aria-label="username" aria-describedby="basic-addon2"/>
                </div>
                <small id="usernameError" class="form-text text-muted errMsg">&nbsp;</small>
              </div>
              <div class="form-group">
                <label for="password">סיסמה</label>
                <div class="input-group mb-3 en">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" style="padding: .75rem .75rem;"><i class="fas fa-lock"></i></span>
                  </div>
                  <input name="password" type="password" id="password" placeholder="סיסמה" class="input form-control en" aria-label="password" aria-describedby="basic-addon1" />
                  <div class="input-group-append">
                    <span class="input-group-text" onclick="password_show_hide('password');" style="padding: .75rem .75rem;">
                      <i class="fas fa-eye" id="show_eye"></i>
                      <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                    </span>
                  </div>
                </div>
                <small id="passwordError" class="form-text text-muted errMsg">&nbsp;</small>
              </div>
              <div id="errMsg" class="errMsg">&nbsp;</div>
              <hr class="hr" />
              <div class="form-group">
                <button type="submit" class="btn btn-primary">כניסה</button>
              </div>
          </form> 
        </p>
      </div>
    </section>

  </main><!-- End #main -->

  {{> footer}}