{{> navigation}}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <h2>כניסה למורים ומנהלים</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container w-50">
        <p>
          <form id="login" action="#" method="POST">
              <div class="form-group">
                <label for="username">שם משתמש (אימייל)</label>
                <input name="username" type="input" id="username" placeholder="שם משתמש" class="form-control en"/>
                <small id="usernameError" class="form-text text-muted errMsg">&nbsp;</small>
              </div>
              <div class="form-group">
                <label for="password">סיסמה</label>
                <input name="password" type="password" id="password" placeholder="סיסמה" class="form-control en"/>
                <small id="passwordError" class="form-text text-muted errMsg">&nbsp;</small>
              </div>
              <div class="form-group">
                <button type="submit">כניסה</button>
                <label id="errMsg" class="errMsg"></button>
              </div>
          </form> 
        </p>
      </div>
    </section>

  </main><!-- End #main -->

  {{> footer}}