  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <h2>קודי QR למשחק "{{data.readableName}}", סניף {{data.branchName}} (קוד "{{data.gameName}}")</h2>

      </div>
    </section><!-- End Breadcrumbs -->

  <section id="portfolio" class="portfolio" style="background-color:white">
    <div class="container">
      <div class="portfolio-container">          
        <a href="/teacher/{{data.branch}}/{{data.gameName}}" target="_newTeach">
          <figure class="figure thin-border">
            <img src="/img/teacher.jpg" class="img-fluid" alt="" style="height:100px">
            <figcaption class="figure-caption middle" style="color:black">אתר המורה</figcaption>
        </figure>
        </a>      
      </div>
        <!-- RED TEAM -->    
      <div class="portfolio-container">          
        <a href="/game/{{data.branch}}/{{data.gameName}}/red/1" target="_new">
          <figure class="figure thin-border">
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{rootEncoded}}%2Fgame%2F{{data.branch}}%2F{{data.gameName}}%2Fred%2F1&amp;size={{data.imgSize}}&amp;color={{data.red}}&amp;qzone=1&amp;format=png" class="img-fluid" alt="" >
            <figcaption class="figure-caption middle" style="color:#{{data.red}}">חידה 1 - קבוצה אדומה</figcaption>
        </figure>
        </a>
        <a href="/game/{{data.branch}}/{{data.gameName}}/red/2" target="_new">
          <figure class="figure thin-border">
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{rootEncoded}}%2Fgame%2F{{data.branch}}%2F{{data.gameName}}%2Fred%2F2&amp;size={{data.imgSize}}&amp;color={{data.red}}&amp;qzone=1&amp;format=png" class="img-fluid" alt="" >
            <figcaption class="figure-caption middle" style="color:#{{data.red}}">חידה 2 - קבוצה אדומה</figcaption>
          </figure>
        </a>
        <a href="/game/{{data.branch}}/{{data.gameName}}/red/3" target="_new">
          <figure class="figure thin-border">
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{rootEncoded}}%2Fgame%2F{{data.branch}}%2F{{data.gameName}}%2Fred%2F3&amp;size={{data.imgSize}}&amp;color={{data.red}}&amp;qzone=1&amp;format=png" class="img-fluid" alt="" >
            <figcaption class="figure-caption middle" style="color:#{{data.red}}">חידה 3 - קבוצה אדומה</figcaption>
          </figure>
        </a>
        <a href="/game/{{data.branch}}/{{data.gameName}}/red/4" target="_new">
          <figure class="figure thin-border">
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{rootEncoded}}%2Fgame%2F{{data.branch}}%2F{{data.gameName}}%2Fred%2F4&amp;size={{data.imgSize}}&amp;color={{data.red}}&amp;qzone=1&amp;format=png" class="img-fluid" alt="" >
            <figcaption class="figure-caption middle" style="color:#{{data.red}}">חידה 4 - קבוצה אדומה</figcaption>
          </figure>
        </a>
        <a href="/game/{{data.branch}}/{{data.gameName}}/red/5" target="_new">
          <figure class="figure thin-border">
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{rootEncoded}}%2Fgame%2F{{data.branch}}%2F{{data.gameName}}%2Fred%2F5&amp;size={{data.imgSize}}&amp;color={{data.red}}&amp;qzone=1&amp;format=png" class="img-fluid" alt="" >
            <figcaption class="figure-caption middle" style="color:#{{data.red}}">חידה 5 - קבוצה אדומה</figcaption>
          </figure>
        </a>
        </div>

    </div>
    <div class="container">
      <!-- BLUE TEAM -->    
      <div class="portfolio-container">          
        <a href="/game/{{data.branch}}/{{data.gameName}}/blue/1" target="_new">
          <figure class="figure thin-border">
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{rootEncoded}}%2Fgame%2F{{data.branch}}%2F{{data.gameName}}%2Fblue%2F1&amp;size={{data.imgSize}}&amp;color={{data.blue}}&amp;qzone=1&amp;format=png" class="img-fluid" alt="" >
            <figcaption class="figure-caption middle" style="color:#{{data.blue}}">חידה 1 - קבוצה כחולה</figcaption>
          </figure>
        </a>
        <a href="/game/{{data.branch}}/{{data.gameName}}/blue/2" target="_new">
          <figure class="figure thin-border">
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{rootEncoded}}%2Fgame%2F{{data.branch}}%2F{{data.gameName}}%2Fblue%2F2&amp;size={{data.imgSize}}&amp;color={{data.blue}}&amp;qzone=1&amp;format=png" class="img-fluid" alt="" >
            <figcaption class="figure-caption middle" style="color:#{{data.blue}}">חידה 2 - קבוצה כחולה</figcaption>
          </figure>
        </a>
        <a href="/game/{{data.branch}}/{{data.gameName}}/blue/3" target="_new">
          <figure class="figure thin-border">
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{rootEncoded}}%2Fgame%2F{{data.branch}}%2F{{data.gameName}}%2Fblue%2F3&amp;size={{data.imgSize}}&amp;color={{data.blue}}&amp;qzone=1&amp;format=png" class="img-fluid" alt="" >
            <figcaption class="figure-caption middle" style="color:#{{data.blue}}">חידה 3 - קבוצה כחולה</figcaption>
          </figure>
        </a>
        <a href="/game/{{data.branch}}/{{data.gameName}}/blue/4" target="_new">
          <figure class="figure thin-border">
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{rootEncoded}}%2Fgame%2F{{data.branch}}%2F{{data.gameName}}%2Fblue%2F4&amp;size={{data.imgSize}}&amp;color={{data.blue}}&amp;qzone=1&amp;format=png" class="img-fluid" alt="" >
            <figcaption class="figure-caption middle" style="color:#{{data.blue}}">חידה 4 - קבוצה כחולה</figcaption>
          </figure>
        </a>
        <a href="/game/{{data.branch}}/{{data.gameName}}/blue/5" target="_new">
          <figure class="figure thin-border">
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{rootEncoded}}%2Fgame%2F{{data.branch}}%2F{{data.gameName}}%2Fblue%2F5&amp;size={{data.imgSize}}&amp;color={{data.blue}}&amp;qzone=1&amp;format=png" class="img-fluid" alt="" >
            <figcaption class="figure-caption middle" style="color:#{{data.blue}}">חידה 5 - קבוצה כחולה</figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="container">
      <!-- GREEN TEAM -->    
      <div class="portfolio-container">          
        <a href="/game/{{data.branch}}/{{data.gameName}}/green/1" target="_new">
          <figure class="figure thin-border">
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{rootEncoded}}%2Fgame%2F{{data.branch}}%2F{{data.gameName}}%2Fgreen%2F1&amp;size={{data.imgSize}}&amp;color={{data.green}}&amp;qzone=1&amp;format=png" class="img-fluid" alt="" >
            <figcaption class="figure-caption middle" style="color:#{{data.green}}">חידה 1 - קבוצה ירוקה</figcaption>
          </figure>
        </a>
        <a href="/game/{{data.branch}}/{{data.gameName}}/green/2" target="_new">
          <figure class="figure thin-border">
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{rootEncoded}}%2Fgame%2F{{data.branch}}%2F{{data.gameName}}%2Fgreen%2F2&amp;size={{data.imgSize}}&amp;color={{data.green}}&amp;qzone=1&amp;format=png" class="img-fluid" alt="" >
            <figcaption class="figure-caption middle" style="color:#{{data.green}}">חידה 2 - קבוצה ירוקה</figcaption>
          </figure>
        </a>
        <a href="/game/{{data.branch}}/{{data.gameName}}/green/3" target="_new">
          <figure class="figure thin-border">
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{rootEncoded}}%2Fgame%2F{{data.branch}}%2F{{data.gameName}}%2Fgreen%2F3&amp;size={{data.imgSize}}&amp;color={{data.green}}&amp;qzone=1&amp;format=png" class="img-fluid" alt="" >
            <figcaption class="figure-caption middle" style="color:#{{data.green}}">חידה 3 - קבוצה ירוקה</figcaption>
          </figure>
        </a>
        <a href="/game/{{data.branch}}/{{data.gameName}}/green/4" target="_new">
          <figure class="figure thin-border">
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{rootEncoded}}%2Fgame%2F{{data.branch}}%2F{{data.gameName}}%2Fgreen%2F4&amp;size={{data.imgSize}}&amp;color={{data.green}}&amp;qzone=1&amp;format=png" class="img-fluid" alt="" >
            <figcaption class="figure-caption middle" style="color:#{{data.green}}">חידה 4 - קבוצה ירוקה</figcaption>
          </figure>
        </a>
        <a href="/game/{{data.branch}}/{{data.gameName}}/green/5" target="_new">
          <figure class="figure thin-border">
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{rootEncoded}}%2Fgame%2F{{data.branch}}%2F{{data.gameName}}%2Fgreen%2F5&amp;size={{data.imgSize}}&amp;color={{data.green}}&amp;qzone=1&amp;format=png" class="img-fluid" alt="" >
            <figcaption class="figure-caption middle" style="color:#{{data.green}}">חידה 5 - קבוצה ירוקה</figcaption>
          </figure>
        </a>
      </div>
    </div>
  </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

