{{> navigation}}

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-right">
        <h1><a href="index.html"><img src="/img/header.png" /></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <!--<li><a class="nav-link scrollto active" href="#hero">Home</a></li>
           <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link scrollto" href="#about">About Us</a></li>
              <li><a class="nav-link scrollto" href="#team">Team</a></li>
              <li><a class="nav-link scrollto" href="#testimonials">Testimonials</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
          <li><a class="nav-link scrollto htitle" href="#">מחפשים את המטמון</a></li> -->
        </ul>
        <!-- <i class="bi bi-list mobile-nav-toggle"></i> -->
      </nav><!-- .navbar -->

       <div class="header-social-links d-flex align-items-center">
        <a href="/login" class="instagram"><img src="/img/user.png" height="20px"></a>
      <!-- <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      -->
      </div> 

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
          <div>
            <h1>אזור המורה</h1>
            <h2>משחק: {{readableName}}</h2>
            <h2>סניף: {{branch}}</h2>
            <h2>עודכן: {{date}}</h2>
            <div class="gameStatus d-flex flex-column">
              {{#compare gameStatus.started '===' true}}
              <small class="form-text text-muted gameStatusText">המשחק התחיל ב {{gameStatus.startTime}}</small>
            {{else}}
              <small class="form-text text-muted gameStatusText">המשחק לא התחיל</small>
            {{/compare}}
            </div>
          <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
          <img src="/img/th/treasurehunt.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    

       <!-- ======= Blue Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2 style="color:#4f81bd">חידות הקבוצה הכחולה</h2>
          <p>באזור הזה, תוכלו לראות את החידות והתשובות של הקבוצה</p>
          {{#compare gameStatus.started '===' true}}
          <div class="gameStatus d-flex flex-column">
            <small class="form-text text-muted gameStatusText">הקבוצה מנסה לפתור את חידה {{gameStatus.blue.stage}}</small>
            <small class="form-text text-muted gameStatusText">הצליחו: {{#compare gameStatus.blue.success '===' true}} כן {{else}} לא {{/compare}}</small>
            <small class="form-text text-muted gameStatusText">מספר הנסיונות: {{gameStatus.blue.numTries}}</small>
          </div>
          {{/compare}}
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper" id="swiper-wrapper-blue">
              
            {{{teacher_generateTeamRiddles gameData 'blue'}}}

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->    

       <!-- ======= Green Section ======= -->
       <section id="testimonials" class="testimonials">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2 style="color:#9bba59">חידות הקבוצה הירוקה</h2>
            <p>באזור הזה, תוכלו לראות את החידות והתשובות של הקבוצה</p>
            {{#compare gameStatus.started '===' true}}
            <div class="gameStatus d-flex flex-column">
              <small class="form-text text-muted gameStatusText">הקבוצה מנסה לפתור את חידה {{gameStatus.green.stage}}</small>
              <small class="form-text text-muted gameStatusText">הצליחו: {{#compare gameStatus.green.success '===' true}} כן {{else}} לא {{/compare}}</small>
              <small class="form-text text-muted gameStatusText">מספר הנסיונות: {{gameStatus.green.numTries}}</small>
            </div>
            {{/compare}}
          </div>
  
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper" id="swiper-wrapper-green">

              {{{teacher_generateTeamRiddles gameData 'green'}}}
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->    

             <!-- ======= red Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2 style="color:#c0514d">חידות הקבוצה האדומה</h2>
          <p>באזור הזה, תוכלו לראות את החידות והתשובות של הקבוצה</p>
          {{#compare gameStatus.started '===' true}}
            <div class="gameStatus d-flex flex-column">
              <small class="form-text text-muted gameStatusText">הקבוצה מנסה לפתור את חידה {{gameStatus.red.stage}}</small>
              <small class="form-text text-muted gameStatusText">הצליחו: {{#compare gameStatus.red.success '===' true}} כן {{else}} לא {{/compare}}</small>
              <small class="form-text text-muted gameStatusText">מספר הנסיונות: {{gameStatus.red.numTries}}</small>
          </div>
          {{/compare}}
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper" id="swiper-wrapper-red">
            
            {{{teacher_generateTeamRiddles gameData 'red'}}}

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->    

    <div id="overlay" class="overlay"></div>
      <div id="overlayContent" class="overlayContent">
        <img id="imgBig" src="" alt="" width="400" class="imgBig"/>
      </div>
    

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>מפות</h2>
          <p></p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in">
              <div class="pic"><img id="bluemap" src="{{imgRoot}}/maps/{{branchCode}}/{{uid}}_blue.png" class="img-fluid imgSmall" alt=""></div>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img id="greenmap" src="{{imgRoot}}/maps/{{branchCode}}/{{uid}}_green.png" class="img-fluid imgSmall" alt=""></div>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img id="redmap" src="{{imgRoot}}/maps/{{branchCode}}/{{uid}}_red.png" class="img-fluid imgSmall" alt=""></div>
              
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

{{> footer}}
