<main id="main">

        <!-- ======= Game List Section ======= -->
        <section id="contact" class="contact section-bg">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2><i class="fa fa-compass" aria-hidden="true"></i> טפסי הרשמה לתגבור</h2>
            </div>
            
            <div class="row my-3 mx-1">

              <div class="col-2 mx-3 mt-4 list-group">
                <a href="/admin/lsn/editform/-1?branch={{branch}}" class="action list-group list-group-item active text-center">
                <span>יצירת טופס תגבור חדש</span></a>
              </div>
              <div class="col-lg mx-1 mt-4">
                <span class="tip nowrap"><i class="fa fa-info-circle" aria-hidden="true"></i> שימו לב שלא ניתן למחוק טופס פעיל</span>
              </div>
              <div class="my-3">
                <div class="errMsg" id="errMsg"></div>
              </div>
            </div>

            <div class="row">
    
              <div class="col-lg-2 d-flex align-items-stretch" data-aos="fade-right">
              <img src="/img/compass.png" />
    
            </div>
            <div class="col-lg-10 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
              
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">פעולות</th>
                  <th scope="col">שם הטופס</th>
                  <th scope="col">קבוצה</th>
                  <th scope="col">סניף</th>
                  <th scope="col">פעיל</th>
                  <th scope="col">תאריך עדכון</th>
                </tr>
                </thead>
                <tbody>
                {{#each data as |form|}}
                <tr>
                  <td >                       
                    <img src="/img/ops/edit.png" class="ops-icon" onclick="editeForm('{{form.uid}}')" data-toggle="tooltip" data-placement="top" title="עריכת טופס"/>
                    {{#compare ../jwtUser.role '!==' 'TEACHER'}} 
                      {{#compare form.active '===' true}}
                        <img src="/img/ops/del-d.png" class="ops-icon" data-toggle="tooltip" data-placement="top" title="אי אפשר למחוק טופס פעיל  "/>
                      {{else}}
                        <img src="/img/ops/del.png" class="ops-icon" onclick="deleteForm('{{form.uid}}')" data-toggle="tooltip" data-placement="top" title="מחיקת טופס"/>
                      {{/compare}}
                    {{/compare}}
                    
                    <br/><br/>
                    {{#compare form.active '===' true}}                    
                    <a href="#" data-bs-toggle="modal" data-bs-target="#FormQRModal" data-name="{{form.name}}" data-branch="{{form.branchCode}}" data-uid="{{form.uid}}" 
                      data-group="{{form.groupName}}" data-branch-name="{{form.branch}}">
                      <img src="/img/ops/qr.png" class="ops-icon" data-toggle="tooltip" data-placement="top" title="לינקים לטופס"/>
                     </a>                 
                    {{/compare}} <!-- Form Active -->
                  </td>
                  <td >{{form.name}}</td>
                  <td >{{form.groupName}}</td>
                  <td >{{form.branch}}</td>
                  <td >
                    {{#compare form.active '===' true}}
                    <i class="fa fa-play" aria-hidden="true" style="color:green"></i> כן
                    {{else}}
                    <i class="fa fa-stop" aria-hidden="true"></i> לא
                    {{/compare}}
                    </td>
                  <td >{{form.date}}</td>
                </tr>
                {{/each}}
                </tbody>
              </table>
            </div>
            
                  
          <!--  -->
          </div>
        </div>
      </section><!-- End User List Section -->      
      
      <!-- Modal Form QR -->
      <div class="modal fade" id="FormQRModal" tabindex="-1" aria-labelledby="FormQRModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="FormQRModalLabel">לינק לטופס</h5>              
            </div>
            <div class="modal-body">
                <div class="row">
                  <label for="fname">שם הטופס</label>
                  <input name="fname" type="input" id="fname" class="form-control readonly" placeholder="" class="" value="" readonly/>
                </div>                
                <div class="row">
                  <label for="fgroup">שם הקבוצה</label>
                  <input name="fgroup" type="input" id="fgroup" class="form-control readonly" placeholder="" class="" value="" readonly/>
                </div>                
                <div class="row">
                  <label for="fbranch">שם הסניף</label>
                  <input name="fbranch" type="input" id="fbranch" class="form-control readonly" placeholder="" class="" value="" readonly/>
                </div>                
                <div class="row mt-5">
                  <a href="/lsn/form/" target="_new" id="qrlink">
                    <figure class="figure thin-border">
                      <img src="" class="img-fluid" alt="" >
                      <figcaption class="figure-caption middle">טופס</figcaption>
                  </figure>
                  </a>
                </div>                
                <div class="row mt-5">
                  <div class="input-group">
                    <button class="btn btn-secondary" onclick="copyToClipboardEx('qrLink','msg')">העתק</button>
                    <input id="qrLink" class="form-control en readonly" readonly /><br>                    
                  </div> 
                </div>
                <div class="row">
                  <small id="msg" class="form-text text-muted">&nbsp;</small>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">סגירה</button>
            </div>
        </div>
        </div>
      </div>

    </main><!-- End #main -->

    <script>
      /**
      * CLONE MODAL
      */
      var qrModal = document.getElementById('FormQRModal')
      qrModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var link = event.relatedTarget
        // Extract info from data-bs-* attributes
        var uid = link.getAttribute('data-uid')
        var name = link.getAttribute('data-name')
        var group = link.getAttribute('data-group')
        var branch = link.getAttribute('data-branch')
        var branchName = link.getAttribute('data-branch-name')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        var modalTitle = qrModal.querySelector('.modal-title')
        var modalBodyInput = qrModal.querySelectorAll('.modal-body input')
        modalBodyInput[0].value = name
        modalBodyInput[1].value = group
        modalBodyInput[2].value = branchName
        var modalBodyImg = qrModal.querySelectorAll('.modal-body img')
        modalBodyImg[0].src = `https://api.qrserver.com/v1/create-qr-code/?data={{rootEncoded}}%2Flsn%2Fform%2F${branch}%2F${uid}&size={{qr.imgSize}}&color={{qr.color}}&qzone=1&format=png`
        var modalBodyA = qrModal.querySelector('.modal-body a')
        modalBodyA.href = `{{root}}/lsn/form/${branch}/${uid}`
        
        modalBodyInput[3].value = `{{root}}/lsn/form/${branch}/${uid}`
      })  
      qrModal.addEventListener('hide.bs.modal', function (event) {
      })
    </script>